<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My PDF Document</title>
    <style>
        /* Add styles for the logo */
        .logo {
            width: 50px;
            height: auto;
            margin: 0 auto;
            display: block;
        }
        
        /* Add styles for the table */
        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }
        
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        
        th {
            background-color: #ddd;
            font-weight: bold;
        }
    </style>
</head>
<body>
 <img src="{{ asset('uploads/logo.png') }}" alt="My logo" class="logo">

                <table  border="0.5">
                    <thead >
                        <tr>
                           <th>Id produit</th>
                            <th>Nom produit</th>
                            <th>Prix</th>
                            <th>Description</th>
                            <th>idUser</th>
                            <th>Image</th>
                            <th>Categorie</th>
                
                          
                        </tr>
                    </thead>
                    <tbody>
                        {% for prod in produit %}
            <tr>
                
                <td>{{ prod.id_Produit }}</td>
                <td>{{ prod.nomproduit }}</td>
                <td>{{ prod.prix }}</td>
                <td>{{ prod.description }}</td>
                <td>{{ prod.idUser }}</td>
                <td><img src="{{ asset('uploads/'~prod.image) }}" style=" width:60px; height:50px; " alt=""/></td>
                <td>{{ prod.idcategorie.nomcategorie }}</td>              
                                 
                                  
                               
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>