<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My PDF Document</title>
    <style>
        /* Add styles for the logo */
        .logo {
            width: 50px;
            height: auto;
            margin: 0 auto;
            display: block;
        }
        
        /* Add styles for the table */
        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }
        
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        
        th {
            background-color: #ddd;
            font-weight: bold;
        }
    </style>
</head>

<body>
<img src="{{ asset('uploads/logo.png') }}" alt="My logo" class="logo">
                <div style="display: block; margin-bottom: 10px; background-color: hsl(211, 91%, 20%); text-align: center;">
  <label>Id produit: {{ produit.id_Produit }}</label><br>
  <label>Nom produit: {{ produit.nomproduit }}</label><br>
  <label>Prix: {{ produit.prix }}</label><br>
  <label>Description: {{ produit.description }}</label><br>
  <label>idUser: {{ produit.idUser }}</label><br>
  <label>Image: <img src="{{ asset('uploads/'~produit.image) }}" style=" width:60px; height:50px; " alt=""/></label><br>
  <label>Categorie: {{ produit.idcategorie.nomcategorie }}</label>
                </div>
</body>