{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Produit index</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Id_produit</th>
                <th>Nom_produit</th>
                <th>Prix</th>
                <th>Description</th>
                <th>idUser</th>
                <th>Image</th>
                <th>Categorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                
                <td>{{ produit.id_Produit }}</td>
                <td>{{ produit.nomProduit }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.idUser }}</td>
                <td>{{ produit.image }}</td>
                <td>{{ produit.idcategorie.nomcategorie }}</td>

                <td>
                    <a href="{{ path('app_produit_show', {'id_produit': produit.id_produit}) }}">show</a>
                    <a href="{{ path('app_produit_edit', {'id_produit': produit.id_produit}) }}">edit</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produit_new') }}">Create new</a>
{% endblock %}
