{% extends 'baseback.html.twig' %}

{% block title %}ReponseReclamation index{% endblock %}

{% block body %}
    <h1>ReponseReclamation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reponse_reclamation in reponse_reclamations %}
            <tr>
                <td>{{ reponse_reclamation.id }}</td>
                <td>{{ reponse_reclamation.contenu }}</td>
                <td>
                    <a href="{{ path('appshow', {'id': reponse_reclamation.id}) }}">show</a>
                    <a href="{{ path('app_reponse_reclamation_edit', {'id': reponse_reclamation.id}) }}">edit</a>
                    
                     
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<!-- Pagination START -->
                         <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                            <!-- Content -->
                            <p class="mb-0 text-center text-sm-start"></p>
                            <!-- Pagination -->
                            <nav class="d-flex justify-content-center mb-0" aria-label="navigation">
                                {{ knp_pagination_render(reponse_reclamations) }}
                            </nav>
                        </div>  
                        <!-- Pagination END -->
    <a href="{{ path('app_reponse_reclamation_new') }}">Create new</a>
    <a href="{{ path('pdft')}}"><button type="button" class="btn btn-primary mb-3">PDF</button></a>
{% endblock %}
