{% extends 'base.html.twig' %}

{% block title %}Echanges index{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>IdEchange</th>
                <th>Produit à échanger</th>
                <th>Produit offert</th>
                <th>Statut</th>
                <th>Commentaire</th>
             
            </tr>
        </thead>
        <tbody>
        {% for echange in echanges %}
                {% if echange.produitOffert.idUser.idUser == 1 %}
            <tr>
                <td>{{ echange.idEchange }}</td>
                <td>{{ echange.produitEchange.nomProduit }}</td>
                <td>{{ echange.produitOffert.nomProduit }}</td>
                <td>{{ echange.statut }}</td>
                <td>{{ echange.commentaire }}</td>
          
            </tr>
                {% endif %}
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
