{% extends 'baseback.html.twig' %}

{% block title %}Echanges index{% endblock %}

{% block body %}


    <table class="table">
        <thead>
            <tr>
                <th>IdEchange</th>
                <th>Produit à échanger</th>
                <th>Produit offert</th>
                <th>Statut</th>
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for echange in echanges %}
            <tr>
                <td>{{ echange.idEchange }}</td>
                <td>{{ echange.produitEchange.nomProduit }}</td>
                <td>{{ echange.produitOffert.nomProduit }}</td>
                <td>{{ echange.statut }}</td>
                <td>{{ echange.commentaire }}</td>
                <td>
                    <a href="{{ path('app_echanges_back_show', {'idEchange': echange.idEchange}) }}">show</a>
                    <a href="{{ path('app_echanges_back_edit', {'idEchange': echange.idEchange}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(echanges) }}
 
{% endblock %}
