<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}

<link rel="canonical" href="login.html"><link rel="shortcut icon" href="{{asset('../../cdn.shopify.com/s/files/1/0402/4431/4268/files/fav_32x32f995.png?v=1613730012" type="image/png"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1')}}" />

		<!--[if IE]>
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<![endif]-->
		
		<!-- CSS -->
		
<style type="text/css">
	@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n4.1d581f6d4bf1a97f4cbc0b88b933bc136d38d178.woff2?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=0bc99274252e50a72933e2332da61224f4b2b0c767df74a6aa14c2cfba2d63a7") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n4.cfce41a967758ce5a9b7d48daeb5b028fd977a9b.woff?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=e13323b2cce4bde698e3a3948b7446ed82ef4f89071dd48a79baee7dc3a572e9") format("woff");
}

	@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n4.1d581f6d4bf1a97f4cbc0b88b933bc136d38d178.woff2?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=0bc99274252e50a72933e2332da61224f4b2b0c767df74a6aa14c2cfba2d63a7") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n4.cfce41a967758ce5a9b7d48daeb5b028fd977a9b.woff?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=e13323b2cce4bde698e3a3948b7446ed82ef4f89071dd48a79baee7dc3a572e9") format("woff");
}

	@font-face {
  font-family: Montserrat;
  font-weight: 300;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n3.e9c2ec7697570c33b13645dbd15f3f729c5e921b.woff2?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=3550705e19830529f18a25108a044640d73bbf154eec8d1d954764e897dd7a64") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n3.f481a31eaff8b48749cc413f5c6990b1db3c9103.woff?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=2815f12b254ad6aff4fa758228431f4ff542a99201c5a232f0b68b8c5d644bdc") format("woff");
}

	@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n4.1d581f6d4bf1a97f4cbc0b88b933bc136d38d178.woff2?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=0bc99274252e50a72933e2332da61224f4b2b0c767df74a6aa14c2cfba2d63a7") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n4.cfce41a967758ce5a9b7d48daeb5b028fd977a9b.woff?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=e13323b2cce4bde698e3a3948b7446ed82ef4f89071dd48a79baee7dc3a572e9") format("woff");
}

	@font-face {
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n5.e72d00d31ae5399d260a80ec70322c62c1819762.woff2?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=73f33816ad1840ed02696e30524dc5c04ab9e9497417befc75928c6779e17b64") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n5.18a018b6c83e89030c5d70a6d4c02c969f228500.woff?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=c7d9c641daef8a148f2657fb9972491d0eb24a03e4d95ee0d15f2f37683404ec") format("woff");
}

	@font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n7.c496e9cf2031deec4c4bca338faa81971c8631d4.woff2?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=622e2111f1480e59f1c7173dd8716dcc09cff70ea38a0553a2426facbe33444e") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n7.78b0223375c94b39ce1af7e09a0225f2bb3d05f7.woff?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=a701e38de84560d414a31b72e6214b193a0fd4baecd88a96379815f10ea52550") format("woff");
}

	@font-face {
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n6.7a3c341961dc23aaabcc116124b80f2a7abec1a2.woff2?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=be95cde9109bfb2e306097c5b1817b0ab59b9e41cb10d0491bd1850288a5efde") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n6.2c97c1a692c63ad09ab0635cb73b1939c5f417c0.woff?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=7402201df31ed42494d6830f22cd2494a32d124dc25e5f83a4359b82b809face") format("woff");
}

	@font-face {
  font-family: Montserrat;
  font-weight: 800;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n8.d0ee6fdb3a3fec57b7ba86e76adad5b86d8b298f.woff2?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=bced379f7cd161ff0d6aa917257afd5b4216286caeb21494b47fcbd4a8838832") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n8.57046b0201ba1025a279f9546bf469833729dc63.woff?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=2f8a779fa729841a31de8eda30f0d30e82ca6bba1d7ba328527555fa3e940aae") format("woff");
}

	
	:root {
		/*  TYPOGRAPHY  */
		--base-font: Montserrat, sans-serif;
		--base-font-size: 16px;
		--heading-font: Montserrat, sans-serif;
		--heading-font-size: 30px;
		--heading-light-font-weight: 300;
		--heading-regular-font-weight: 400;
		--heading-medium-font-weight: 500;
		--heading-bold-font-weight: 700;
		--heading-semi-bold-font-weight: 600;
		--heading-extra-bold-font-weight: 800;
		/*  COLORS  */
		--color-1: #141414;
		--color-2: #f43d0c;
		--color-3: #ffffff;
		--color-4: #000000;
		--bg-color: #ffffff;
		--base-font-color: #888888;
		--heading-font-color: #141414;
		--border-color: #e4e4e4;
		--links-color: #141414;
		--links-color-hover: #f43d0c;
		--button-color: #f43d0c;
		--button-text-color: #ffffff;
		--button-border-color: #f43d0c;
		--button-hover-color: #141414;
		--button-hover-text-color: #ffffff;
		--button-hover-border-color: #141414;
		--alt-button-color: #141414;
		--alt-button-text-color: #ffffff;
		--alt-button-border-color: #141414;
		--alt-button-hover-color: #f43d0c;
		--alt-button-hover-text-color: #ffffff;
		--alt-button-hover-border-color: #f43d0c;
		--product-name-color: #888888;
		--product-name-color-hover: #f43d0c;
		--product-price-color: #141414;
		--product-price-sale-color: #777777;
	}
</style>
		<link href="{{asset('../../cdn.shopify.com/s/files/1/0402/4431/4268/t/2/assets/style.scss3747.css?v=82075864039122045691656105590')}}" rel="stylesheet" type="text/css" media="all" />
		<link href="{{asset('../../cdn.shopify.com/s/files/1/0402/4431/4268/t/2/assets/responsive.scss752c.css?v=154932112072804460831591262450')}}" rel="stylesheet" type="text/css" media="all" />
		
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">  

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{asset('lib/animate/animate.min.css')}}" rel="stylesheet">
    <link href="{{asset('lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{asset('css/style.css')}}" rel="stylesheet">
    <style type="text/css">
	@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n4.1d581f6d4bf1a97f4cbc0b88b933bc136d38d178.woff2?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=0bc99274252e50a72933e2332da61224f4b2b0c767df74a6aa14c2cfba2d63a7") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n4.cfce41a967758ce5a9b7d48daeb5b028fd977a9b.woff?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=e13323b2cce4bde698e3a3948b7446ed82ef4f89071dd48a79baee7dc3a572e9") format("woff");
}

	@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n4.1d581f6d4bf1a97f4cbc0b88b933bc136d38d178.woff2?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=0bc99274252e50a72933e2332da61224f4b2b0c767df74a6aa14c2cfba2d63a7") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n4.cfce41a967758ce5a9b7d48daeb5b028fd977a9b.woff?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=e13323b2cce4bde698e3a3948b7446ed82ef4f89071dd48a79baee7dc3a572e9") format("woff");
}

	@font-face {
  font-family: Montserrat;
  font-weight: 300;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n3.e9c2ec7697570c33b13645dbd15f3f729c5e921b.woff2?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=3550705e19830529f18a25108a044640d73bbf154eec8d1d954764e897dd7a64") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n3.f481a31eaff8b48749cc413f5c6990b1db3c9103.woff?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=2815f12b254ad6aff4fa758228431f4ff542a99201c5a232f0b68b8c5d644bdc") format("woff");
}

	@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n4.1d581f6d4bf1a97f4cbc0b88b933bc136d38d178.woff2?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=0bc99274252e50a72933e2332da61224f4b2b0c767df74a6aa14c2cfba2d63a7") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n4.cfce41a967758ce5a9b7d48daeb5b028fd977a9b.woff?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=e13323b2cce4bde698e3a3948b7446ed82ef4f89071dd48a79baee7dc3a572e9") format("woff");
}

	@font-face {
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n5.e72d00d31ae5399d260a80ec70322c62c1819762.woff2?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=73f33816ad1840ed02696e30524dc5c04ab9e9497417befc75928c6779e17b64") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n5.18a018b6c83e89030c5d70a6d4c02c969f228500.woff?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=c7d9c641daef8a148f2657fb9972491d0eb24a03e4d95ee0d15f2f37683404ec") format("woff");
}

	@font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n7.c496e9cf2031deec4c4bca338faa81971c8631d4.woff2?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=622e2111f1480e59f1c7173dd8716dcc09cff70ea38a0553a2426facbe33444e") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n7.78b0223375c94b39ce1af7e09a0225f2bb3d05f7.woff?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=a701e38de84560d414a31b72e6214b193a0fd4baecd88a96379815f10ea52550") format("woff");
}

	@font-face {
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n6.7a3c341961dc23aaabcc116124b80f2a7abec1a2.woff2?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=be95cde9109bfb2e306097c5b1817b0ab59b9e41cb10d0491bd1850288a5efde") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n6.2c97c1a692c63ad09ab0635cb73b1939c5f417c0.woff?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=7402201df31ed42494d6830f22cd2494a32d124dc25e5f83a4359b82b809face") format("woff");
}

	@font-face {
  font-family: Montserrat;
  font-weight: 800;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n8.d0ee6fdb3a3fec57b7ba86e76adad5b86d8b298f.woff2?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=bced379f7cd161ff0d6aa917257afd5b4216286caeb21494b47fcbd4a8838832") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n8.57046b0201ba1025a279f9546bf469833729dc63.woff?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=2f8a779fa729841a31de8eda30f0d30e82ca6bba1d7ba328527555fa3e940aae") format("woff");
}

	
	:root {
		/*  TYPOGRAPHY  */
		--base-font: Montserrat, sans-serif;
		--base-font-size: 16px;
		--heading-font: Montserrat, sans-serif;
		--heading-font-size: 30px;
		--heading-light-font-weight: 300;
		--heading-regular-font-weight: 400;
		--heading-medium-font-weight: 500;
		--heading-bold-font-weight: 700;
		--heading-semi-bold-font-weight: 600;
		--heading-extra-bold-font-weight: 800;
		/*  COLORS  */
		--color-1: #141414;
		--color-2: #f43d0c;
		--color-3: #ffffff;
		--color-4: #000000;
		--bg-color: #ffffff;
		--base-font-color: #888888;
		--heading-font-color: #141414;
		--border-color: #e4e4e4;
		--links-color: #141414;
		--links-color-hover: #f43d0c;
		--button-color: #f43d0c;
		--button-text-color: #ffffff;
		--button-border-color: #f43d0c;
		--button-hover-color: #141414;
		--button-hover-text-color: #ffffff;
		--button-hover-border-color: #141414;
		--alt-button-color: #141414;
		--alt-button-text-color: #ffffff;
		--alt-button-border-color: #141414;
		--alt-button-hover-color: #f43d0c;
		--alt-button-hover-text-color: #ffffff;
		--alt-button-hover-border-color: #f43d0c;
		--product-name-color: #888888;
		--product-name-color-hover: #f43d0c;
		--product-price-color: #141414;
		--product-price-sale-color: #777777;
	}
</style>

        {% endblock %}
    </head>
    <body>
        {% block header %}
        <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-1 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center h-100">
                    <a class="text-body mr-3" href="">About</a>
                    <a class="text-body mr-3" href="">Contact</a>
                    <a class="text-body mr-3" href="">Help</a>
                    <a class="text-body mr-3" href="">FAQs</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">My Account</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="button">Sign in</button>
                            <button class="dropdown-item" type="button">Sign up</button>
                        </div>
                    </div>
                    <div class="btn-group mx-2">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">USD</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="button">EUR</button>
                            <button class="dropdown-item" type="button">GBP</button>
                            <button class="dropdown-item" type="button">CAD</button>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">EN</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="button">FR</button>
                            <button class="dropdown-item" type="button">AR</button>
                            <button class="dropdown-item" type="button">RU</button>
                        </div>
                    </div>
                </div>
                <div class="d-inline-flex align-items-center d-block d-lg-none">
                    <a href="" class="btn px-0 ml-2">
                        <i class="fas fa-heart text-dark"></i>
                        <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                    </a>
                    <a href="" class="btn px-0 ml-2">
                        <i class="fas fa-shopping-cart text-dark"></i>
                        <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
            <div class="col-lg-4">
                <a href="" class="text-decoration-none">
                    <span class="h1 text-uppercase text-primary bg-dark px-2">LIMIT</span>
                    <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">LESS</span>
                </a>
            </div>
            <div class="col-lg-4 col-6 text-left">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-6 text-right">
                <p class="m-0">Customer Service</p>
                <h5 class="m-0">+012 345 6789</h5>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
        {% endblock %}

        {% block navbar %}
        

    <!-- Navbar Start -->
    <div class="container-fluid bg-dark mb-30">
        <div class="row px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn d-flex align-items-center justify-content-between bg-primary w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; padding: 0 30px;">
                    <h6 class="text-dark m-0"><i class="fa fa-bars mr-2"></i>Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 999;">
                    <div class="navbar-nav w-100">
                        <div class="nav-item dropdown dropright">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Dresses <i class="fa fa-angle-right float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                                <a href="" class="dropdown-item">Men's Dresses</a>
                                <a href="" class="dropdown-item">Women's Dresses</a>
                                <a href="" class="dropdown-item">Baby's Dresses</a>
                            </div>
                        </div>
                        <a href="" class="nav-item nav-link">Shirts</a>
                        <a href="" class="nav-item nav-link">Jeans</a>
                        <a href="" class="nav-item nav-link">Swimwear</a>
                        <a href="" class="nav-item nav-link">Sleepwear</a>
                        <a href="" class="nav-item nav-link">Sportswear</a>
                        <a href="" class="nav-item nav-link">Jumpsuits</a>
                        <a href="" class="nav-item nav-link">Blazers</a>
                        <a href="" class="nav-item nav-link">Jackets</a>
                        <a href="" class="nav-item nav-link">Shoes</a>
                    </div>
                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <span class="h1 text-uppercase text-dark bg-light px-2">Multi</span>
                        <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">Shop</span>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="index.html" class="nav-item nav-link active">Home</a>
                            <a href="shop.html" class="nav-item nav-link">Shop</a>
                            <a href="detail.html" class="nav-item nav-link">Shop Detail</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down mt-1"></i></a>
                                <div class="dropdown-menu bg-primary rounded-0 border-0 m-0">
                                    <a href="cart.html" class="dropdown-item">Shopping Cart</a>
                                    <a href="checkout.html" class="dropdown-item">Checkout</a>
                                </div>
                            </div>
                            <a href="contact.html" class="nav-item nav-link">Contact</a>
                        </div>
                        <div class="navbar-nav ml-auto py-0 d-none d-lg-block">
                            <a href="" class="btn px-0">
                                <i class="fas fa-heart text-primary"></i>
                                <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
                            </a>
                            <a href="" class="btn px-0 ml-3">
                                <i class="fas fa-shopping-cart text-primary"></i>
                                <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->

        {% endblock %}
        {% block body %}

Test Test - Saibi Dhia 3A5

        {% endblock %}

        {% block Footer %}


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <h5 class="text-secondary text-uppercase mb-4">Get In Touch</h5>
                <p class="mb-4">No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et dolor sed dolor. Rebum tempor no vero est magna amet no</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, New York, USA</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Quick Shop</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">My Account</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Newsletter</h5>
                        <p>Duo stet tempor ipsum sit amet magna ipsum tempor est</p>
                        <form action="">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Your Email Address">
                                <div class="input-group-append">
                                    <button class="btn btn-primary">Sign Up</button>
                                </div>
                            </div>
                        </form>
                        <h6 class="text-secondary text-uppercase mt-4 mb-3">Follow Us</h6>
                        <div class="d-flex">
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-secondary">
                    &copy; <a class="text-primary" href="#">Domain</a>. All Rights Reserved. Designed
                    by
                    <a class="text-primary" href="https://htmlcodex.com">HTML Codex</a>
                    <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="img/payments.png" alt="">
            </div>
        </div>
    </div>
    <!-- Footer End -->

         {% endblock %} 

        {% block javascripts %}
        <!-- JavaScript Libraries -->
    <script src="{{asset('https://code.jquery.com/jquery-3.4.1.min.js')}}"></script>
    <script src="{{asset('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{asset('lib/easing/easing.min.js')}}"></script>
    <script src="{{asset('lib/owlcarousel/owl.carousel.min.js')}}"></script>

    <!-- Contact Javascript File -->
    <script src="{{asset('mail/jqBootstrapValidation.min.js')}}"></script>
    <script src="{{asset('mail/contact.js')}}"></script>

    <!-- Template Javascript -->
    <script src="{{asset('js/main.js')}}"></script>
   
        {% endblock %}
    </body>
</html>
