
            <div style="display: block; margin-bottom: 10px; background-color: hsl(211, 91%, 20%); text-align: center;">
                <label for="idLivraison">IdLivraison:</label>
                <p id="idLivraison">{{ Livraison.idLivraison }}</p>
            
                <label for="livreur">Livreur:</label>
                <p id="livreur">{{ Livraison.idLivreur.nom }}</p>
            
                <label for="dateLivraison">DateLivraison:</label>
                <p id="dateLivraison">{{ Livraison.dateLivraison ? Livraison.dateLivraison|date('Y-m-d') : '' }}</p>
            
                <label for="adresseLivraison">AdresseLivraison:</label>
                <p id="adresseLivraison">{{ Livraison.adresseLivraison }}</p>
            
                <label for="codePostalLivraison">CodePostalLivraison:</label>
                <p id="codePostalLivraison">{{ Livraison.codePostalLivraison }}</p>
            
                <label for="statusLivraison">StatusLivraison:</label>
                <p id="statusLivraison">{{ Livraison.statusLivraison }}</p>
            </div>
